import /system/etc/init/hw/init.oplus.rc

on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

service aee_aedv /system/bin/true
    oneshot
    disabled

service aee_aedv64 /system/bin/true
    oneshot
    disabled

on post-fs-data
    # Video
    chmod 0666 /dev/video2
    chmod 0666 /dev/video3
